body{
	background: linear-gradient(#030059,#050082);
}




*{
	margin:	0;
	padding: 0;
	font-family: sans-serif;
}
.banner{
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;	
}
.navbar{
	width: 85%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center; 
	justify-content: space-between;
	
}




.logo{
	width: 120px;
	cursor: pointer;
	transition: width 0.5s;
}

.logo:hover{
	width: 150px;
	cursor: pointer;
}




.navbar ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;  
	position: relative;
	
}
.navbar ul li a{
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	
}

.navbar ul li::after{
	content: '';
	height: 3px;
	width: 0;
	background: rgb(254,194,0);
	position: absolute;
	left: 0;
	bottom: -10px;
	transition:0.6s;
}

.navbar ul li:hover::after{
	width: 100%;
}

.wrapper {
	height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
	perspective: 10px;
	
}

header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	header: 100%;

	
}



#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.nub{
	width: 100%;
	position: abosolute;
	top: 50%;
	text-transform: translateY(-50%);
	text-align: center;
	color: transparent;
	font-size: 30px;
	margin-top: 50px;
	
}



button{
	width: 200px;
	padding: 15px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	font-weight: bold;
	border: 2px solid rgb(254,194,0);
	background: transparent;
	color: white;
	cursor: pointer;
	position: relative;
	overflow: hidden;

}

span{
	background: rgb(254,194,0);
	height: 100%;
	width: 0%;
	border-radius: 25px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;
	item-size: 500px;
}
		
button:hover span{
	width: 100%;
}

button:hover{
	border: none;
}

.container{
	height: 100%;
	width: 100vh;
	background: rgb(254,194,0);
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.gallery{
	display: flex;
	align-items: center;
	justify-content: center;
}

.img-box{
	height: 350px;
	width: 100px;
	margin: 10px;
	border-radius: 50px;
	background: url(lanz.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	transition: width 0.5s;
	
}

.img-box:nth-child(2){
	background: url(jano.jpg);
	background-size: cover;
	background-position: center;
	
	
}

.img-box:nth-child(3){
	background: url(josep.jpg);
	background-size: cover;
	background-position: center;
	
	
}

.img-box h3{
	color: white;
	position: absolute;
	bottom: 0;
	left: 30px;
	opacity: 0;
	transition: bottom 0.5s, opacity 0.5s;
}

.img-box:hover{
	width: 300px;
	cursor: pointer;
}
.img-box:hover h3{
	opacity: 1;
	bottom: 25px;
	
}

.title{
	width: 100%;
	position: abosolute;
	top: 50%;
	text-transform: translateY(-50%);
	text-align: center;
	color: transparent;
	font-size: 30px;
	margin-top: 10px;
	left: 50%;
	tranform: tranlate(-50%, -50%);
	font-size: 70px;
	background-image: linear-gradient(#fff,#fff);
	-webkit-text-stroke: 1px #fff;
	background-repeat: no-repeat;
	-webkit-background-clip: text;
	background-position: -1000px 0;
	animation: backcolor 4s linear infinite alternate;
	
	
}

@keyframes backcolor{
	100%{
		background-position: 0 0;
		
	}
	
	
}


.text1{
	
	color: #fff;
	display: flex;
	align-items: left;
	justify-content: left;
	margin-bottom: -50px;
	margin-left: 100px;
	margin-top: -35px
	
}

.text2{
	
	color: #fff;
	display: flex;
	align-items: left;
	justify-content: left;
	margin-bottom: -50px;
	margin-left: 165px;
	margin-top: 28px;
	text-transform: uppercase;

  animation-name: example;
  animation-duration: 3s;
	animation-iteration-count: 2000;
	
	
	width: 120px;
	cursor: pointer;
	transition: width 0.5s;
}
.text2:hover{
	width: 150px;
	cursor: pointer;
}

@keyframes example {
  10%{color: white;}
  50%{color: rgb(254,194,0)}

  